@model List<Article>


@{ var countArticles = 0; }
    @foreach (var prevBadge in Model)
    {
        if (countArticles == 2)
        {
            countArticles = 0;
        }

        if (countArticles == 0)
        {
            @:<div class="card-deck">
        }

    <div class="card cardSize">
        @if (prevBadge.HasImage())
        {
            <img class="card-img-top" alt="title image" src="@Url.Action("GetImage", new { id = prevBadge.ImageId })" />
        }
            <div class="card-body d-flex align-items-start flex-column">

                <h5 class="card-title">@prevBadge.Title</h5>
                <p class="card-text">@prevBadge.Description</p>
            
                <div class="mt-auto w-100">
                    @Html.ActionLink("ДАЛЬШЕ", "Article", "Content", new { id = prevBadge.UrlSeo }, new { @class = "btn btn-primary" })

                    @{ 
                        var badge = prevBadge.Badge != null ? prevBadge.Badge.Title : "";
                        var urlBadge = prevBadge.Badge != null ? prevBadge.Badge.Url : "";
                    }
                    <span class="float-right" style="line-height: 35px;">
                        <a href="@urlBadge">
                            <span class="badge badge-info">@badge</span>
                        </a>
                    </span>
                </div>
            </div>
        <div class="card-footer text-muted">
            <div class="d-flex">
                <p> 14 октября 2018 : 2 просмотра</p>
                <div class="ml-auto"> <a href="\">link</a></div>
            </div>
        </div>
    </div>

    @if (countArticles == 1 || prevBadge == Model.Last())
    {
        @:</div>
        }
        countArticles++;   
}


