@model  ArticleList
 
@{
    ViewBag.Title = "Список статей";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
<h2>Список статей</h2>
@using (Html.BeginForm())
{
    <label for="ComputerName">Поиск по соответствию</label>
    <input type="text" name="ComputerName" value="@Model.Filter.Title" />
    <label for="Year">Поиск по году</label>
    <input type="text" name="Year" value="@Model.Filter.Year" />
    <input type="submit"  class="btn btn-primary" value="Поиск" />
}
<p>
    @Html.ActionLink("Добавить", "CreateArticle")
</p>
<table class="table">
    <tr>
        <th>название</th>
        <th>дата публикации</th>
        <th></th>
    </tr>
 
    @foreach (var item in Model.Articles) {
        var bg = "";
        if (!item.IsPublished)
        {
            bg = "class=bg-danger";
        }
        <tr @bg>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublish)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })|
            </td>
        </tr>
    }
</table>